{% load static %}

        <section
          id="intro"
          class="section section-no-border section-angled bg-light border-top-0 pt-0 pb-5 m-0"
        >
          <div
            class="section-angled-layer-bottom section-angled-layer-increase-angle bg-color-light-scale-1"
            style="padding: 24rem 0"
          ></div>
          <div class="container pb-5" style="min-height: 1000px">
            <div class="row counters justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-5 text-center">
                <h2
                  class="font-weight-bold text-color-dark text-9 mt-0mb-0 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-duration="750"
                  data-plugin-options="{'accY': -200}"
                >
                  Minting, Tokenizing, Selling and Buying movies.
                </h2>
                <p
                  class="sub-title text-primary text-4 font-weight-semibold positive-ls-2 mt-2 mb-4 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="400"
                  data-appear-animation-duration="750"
                >
                  YOUR ADMIN TO A
                  <span
                    class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1 pos-2 alternative-font-4 font-weight-semibold line-height-2 pb-3"
                    >VDTK</span
                  >
                </p>
              </div>
              <div class="col-lg-9 text-center">
                <p
                  class="text-1rem text-color-default negative-ls-05 pt-2 pb-4 mb-4 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="500"
                  data-appear-animation-duration="750"
                >
                  We are making an awesome project to tokenized films on DVDs and VHS for all movies buff. We mint, digitalized, stored and make users watching them at anytime.

                </p>
              </div>
            </div>
            <div class="row text-center mb-5 pb-lg-3">
              <div
                class="col-md-6 col-lg-4 offset-lg-2 text-center mb-5 mb-md-0"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInLeftShorter"
                  data-appear-animation-delay="750"
                  data-appear-animation-duration="750"
                >
                  <h3
                    class="font-weight-bold text-color-dark text-14 line-height-1 negative-ls-2 mb-2"
                  >
                    10+
                  </h3>
                  <label
                    class="font-weight-semibold negative-ls-1 text-6 text-color-dark mb-0"
                    >Blockchains</label
                  >
                  <p class="text-color-grey font-weight-semibold pb-1 mb-2">
                    Multichain availlable.
                  </p>
                  <p class="mb-0">
                    <a
                      href="#demos"
                      data-hash
                      data-hash-offset="120"
                      class="text-color-primary d-flex align-items-center justify-content-center text-3 font-weight-semibold text-decoration-none"
                      >VIEW DEMOS
                      <i
                        class="fas fa-long-arrow-alt-right ms-2 text-3 mb-0"
                      ></i
                    ></a>
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 text-center divider-left-border">
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInRightShorter"
                  data-appear-animation-delay="750"
                  data-appear-animation-duration="750"
                >
                  <h3
                    class="font-weight-bold text-color-dark text-14 line-height-1 negative-ls-2 mb-2"
                  >
                    4K+
                  </h3>
                  <label
                    class="font-weight-semibold negative-ls-1 text-6 text-color-dark mb-0"
                    >Of movies</label
                  >
                  <p class="text-color-grey font-weight-semibold pb-1 mb-2">
                    For only 10 users
                  </p>
                  <p class="mb-0">
                    <a
                      href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472"
                      class="text-color-primary d-flex align-items-center justify-content-center text-3 font-weight-semibold text-decoration-none"
                      target="_blank"
                      >ADD YOURS
                      <i
                        class="fas fa-long-arrow-alt-right ms-2 text-3 mb-0"
                      ></i
                    ></a>
                  </p>
                </div>
              </div>
            </div>
            <div
              class="intro row align-items-center justify-content-center justify-content-md-start pb-5 pb-md-0"
            >
              <div class="col-3 pe-0 ps-3 z-index-2">
                <img
                  src="{% static 'img/lazy.png' %}"
                  data-plugin-lazyload
                  data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                  data-original="{% static 'img/landing/intro2.jpg' %}"
                  class="img-fluid border border-width-10 border-color-light box-shadow-5 rounded d-none d-md-block appear-animation"
                  alt="Screenshot 2"
                  data-appear-animation="fadeInUp"
                  data-appear-animation-delay="600"
                />
                <div
                  class="position-absolute d-none d-md-flex align-items-end appear-animation"
                  data-appear-animation="fadeInLeftShorter"
                  data-appear-animation-delay="900"
                  style="bottom: -60px; right: -90px"
                >
                  <span class="arrow hlt" style="margin-right: -70px"></span>
                  <strong class="text-color-dark mb-4 pb-3"
                    >advanced features!</strong
                  >
                </div>
              </div>
              <div
                class="col-10 col-md-9 ps-0 pe-5 pb-5 pb-md-0 mb-5 mb-md-0 p-relative"
              >
                <div
                  class="intro2 pt-5 pt-md-0 mt-5 mt-lg-0 appear-animation pe-5"
                  data-appear-animation="fadeInUp"
                  data-appear-animation-delay="400"
                >
                  <img
                    src="{% static 'img/lazy.png' %}"
                    data-plugin-lazyload
                    data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                    data-original="{% static 'img/landing/introvdtk.jpg' %}"
                    class="img-fluid box-shadow-3 position-relative z-index-1 rounded d-none d-md-block"
                    alt="Screenshot 1"
                    style="left: -110px"
                  />
                </div>
                <div
                  class="intro3 z-index-3 position-absolute appear-animation"
                  data-appear-animation="fadeInUp"
                  data-appear-animation-delay="800"
                  style="top: 20%; right: 4%"
                >
                  <img
                    src="{% static 'img/lazy.png' %}"
                    data-plugin-lazyload
                    data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                    data-original="{% static 'img/landing/intro3.jpg' %}"
                    class="img-fluid border border-width-10 border-color-light box-shadow-6 rounded"
                    alt="Screenshot 3"
                  />
                  <div
                    class="position-absolute d-none d-md-flex align-items-end appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="1100"
                    style="bottom: -135px; right: -20px"
                  >
                    <strong class="text-color-dark mb-3"
                      >a lot of demos!</strong
                    >
                    <span class="arrow hru"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
