{% load static %}

        <!-- Beggin 20 Prebuilt -->
        <section
          id="demos"
          class="section section-no-border section-light bg-light position-relative z-index-3 border-top-0 pt-0 m-0"
        >
          <div class="container" style="margin-top: -60px">
            <div
              class="row align-items-center appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="250"
              data-appear-animation-duration="750"
            >
              <div class="col-lg-8 offset-lg-2 text-center">
                <ul
                  class="list list-unstyled d-flex justify-content-center text-primary font-weight-semibold positive-ls-2 flex-column flex-md-row text-4 pb-1 mb-2"
                >
                  <li>1. SELECT FILES</li>
                  <li class="mx-5">2. CUSTOMIZE</li>
                  <li>3. DONE</li>
                </ul>
                <p
                  class="font-weight-500 text-4 px-lg-5 mb-4 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="400"
                  data-appear-animation-duration="750"
                >
                  VDTK have already 4000 movies waiting to be mint, digitalized and sell on marketplace like Opensea, Thetat Network, Bankable, ... .
                </p>
                <p
                  class="d-flex align-items-center justify-content-center font-weight-bold text-color-dark line-height-2 text-8 negative-ls-1 pb-2 mb-5 appear-animation"
                  data-appear-animation="blurIn"
                  data-appear-animation-delay="600"
                >
                  <span
                    class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-2 highlighted-word-animation-1-2-dark highlighted-word-animation-1 pos-2 alternative-font-4 font-weight-extra-bold line-height-1 text-8 py-2 me-3"
                    >4000</span
                  >
                  Movies waiting to be mint and digitalized
                </p>
              </div>
            </div>
          </div>
          <div class="container-fluid" id="demos">
            <div
              class="row justify-content-center portfolio-list sort-destination overflow-visible"
              data-sort-id="portfolio"
            >
              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="200"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3 portfolio-item-new"
                  >
                    <a target="_blank" href="ecommerce-dashboard.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/OceansEleven1.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Oceans Eleven
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="400"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-dark-header.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/OceansEleven2.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                     Oceans Eleven 2
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="600"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-dark.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/OceansEleven3.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Oceans Eleven 3
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="800"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-boxed.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/OceansEleven4.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Oceans Eleven 4
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="0"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-boxed-fixed-header.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/Titanic1.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                     Titanic
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="200"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-header-menu.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/Titanic2.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                       Titanic2
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="400"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-header-menu-stripe.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/Titanic3.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                       Titanic3
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="600"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-header-menu-top-line.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/Titanic4.png' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Titanic4
                    </h5>
                  </div>
                </div>
              </div>

              {% comment %}
              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="800"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-light-sidebar.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/preview-light-sidebar.jpg' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Light Sidebar
                    </h5>
                  </div>
                </div>
              </div>

              <div
                class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-1-5 isotope-item"
              >
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="0"
                  data-appear-animation-duration="750"
                >
                  <div
                    class="portfolio-item hover-effect-1 text-center pb-2 mb-3false"
                  >
                    <a target="_blank" href="layouts-left-sidebar-scroll.html">
                      <div
                        class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg box-shadow-7"
                      >
                        <div
                          class="thumb-info-wrapper thumb-info-wrapper-demos m-0"
                        >
                          <img
                            src="{% static 'img/lazy.png' %}"
                            data-plugin-lazyload
                            data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                            data-original="{% static 'img/previews/preview-sidebar-scroll.jpg' %}"
                            width="350"
                            height="259"
                            class="img-fluid h-auto"
                            alt=""
                          />
                        </div>
                      </div>
                    </a>
                    <h5
                      class="font-weight-semibold text-color-dark text-capitalize text-3 mt-3"
                    >
                      Left Sidebar Scroll
                    </h5>
                  </div>
                </div>
              </div>
              {% endcomment %}
            </div>
            <div class="row pt-3 mt-5">
              <div class="col text-center">
                <a
                  href="/dashboard"
                  class="btn btn-dark btn-rounded btn-modern btn-px-5 py-3 text-3 appear-animation"
                  data-appear-animation="fadeIn"
                  data-appear-animation-delay="300"
                  >VIEW MAIN DASHBOARD</a
                >
              </div>
            </div>
          </div>
        </section>
        <!-- End 20 Prebuilt -->
  
    