{% load static %}
        <section class="section bg-color-dark-scale-5 border-0 m-0 py-4">
          <div class="container">
            <div class="row">
              <div class="col">
                <ul
                  class="list list-unstyled list-inline d-flex align-items-center justify-content-center flex-column flex-lg-row mb-0"
                >
                  <li
                    class="list-inline-item custom-text-color-1 color-inherit mb-lg-0 text-2 pe-2"
                  >
                    Porto Versions:
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472?s_rank=2"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >AWS</a
                    >
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-ecommerce-shop-template/22685562"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >STARKNET FOUNDATION</a
                    >
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-responsive-wordpress-ecommerce-theme/9207399"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >FREE</a
                    >
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-ultimate-responsive-magento-theme/9725864"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >STATION F</a
                    >
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-ultimate-responsive-shopify-theme/19162959"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >FRENCH TECH</a
                    >
                  </li>
                  <li class="list-inline-item mb-lg-0">
                    <a
                      href="https://themeforest.net/item/porto-responsive-drupal-7-theme/5219986"
                      class="btn btn-dark-darken btn-modern btn-rounded btn-px-4 py-3 border-0"
                      target="_blank"
                      >Vid30</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

  
    