{% load static %}

        {% comment %}
        <section class="section section-no-border border-top-0 pt-0 pb-0 m-0">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-4 pe-lg-4 mb-5 mb-md-0">
                <h2
                  class="text-color-dark text-7 font-weight-semibold line-height-2 mb-2"
                >
                  The new generation of admin templates is here.
                </h2>
                <p class="pe-lg-5">
                  A complete suite of tools designed to make life easier with a
                  top quality admin templates.
                </p>
              </div>
              <div class="col-md-4 col-lg-auto icon-box text-center mb-md-4">
                <i class="icon-bg icon-1"></i>
                <h4
                  class="font-weight-bold text-color-dark custom-font-size-2 line-height-3 my-0"
                >
                  Super High<br />Performance
                </h4>
              </div>
              <div
                class="col-md-4 col-lg-auto icon-box text-center mx-xl-5 my-5 my-md-0 pb-md-4"
              >
                <i class="icon-bg icon-4"></i>
                <h4
                  class="font-weight-bold text-color-dark custom-font-size-2 line-height-3 my-0"
                >
                  Created with Top<br />Plugins and Extensions
                </h4>
              </div>
              <div class="col-md-4 col-lg-auto icon-box text-center mb-4">
                <i class="icon-bg icon-3"></i>
                <h4
                  class="font-weight-bold text-color-dark custom-font-size-2 line-height-3 my-0"
                >
                  Extremely Easy<br />to Customize
                </h4>
              </div>
              <div class="col-sm-12">
                <hr class="solid opacity-7 my-5" />
                <h2
                  class="font-weight-bold text-color-dark text-center text-10 pt-3 mb-3"
                >
                  The Most Customizable + Solid and Tested Base
                </h2>
              </div>
              <div
                class="col-lg-8 offset-lg-2 px-lg-0 text-center mb-5 mb-sm-4 mb-lg-0"
              >
                <p class="font-weight-500 text-4 mb-0">
                  Porto Admin has a huge variety of options and features to
                  create your project, it has also a very solid based that is
                  being improved and tested by professional developers since
                  2014.
                </p>
              </div>
            </div>
            <div
              class="image-wrapper position-relative z-index-3 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="500"
              data-appear-animation-duration="750"
              style="height: 0; padding-bottom: 16%; margin-top: -30px"
            >
              <img
                src="{% static 'img/lazy.png' %}"
                data-plugin-lazyload
                data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                data-original="{% static 'img/landing/theme_options.png' %}"
                class="img-fluid"
                alt="The Most Customizable Template"
              />
            </div>
          </div>
        </section>
        {% endcomment %}

        <!-- Beggin 6 Reasons -->
        <section
          class="section section-no-border section-angled section-dark border-top-0 pb-0 m-0"
          style="
            background-repeat: no-repeat;
            background-color: #0169fe !important;
          "
          data-plugin-lazyload
          data-plugin-options="{'threshold': 500}"
          data-original="{% static 'img/landing/reason_bg.png' %}"
        >
          <div
            class="section-angled-layer-top section-angled-layer-increase-angle bg-color-light-scale-1"
            style="padding: 4rem 0"
          ></div>
          <div class="spacer py-md-4 my-md-5"></div>
          <div class="container pt-lg-4 pt-xl-5 mt-xl-5">
            <div
              class="row align-items-center justify-content-center pt-lg-5 mt-5 p-relative"
            >
              <div class="col-auto col-sm-12 col-lg-6 offset-lg-1 pt-5 mb-5">
                <div
                  class="appear-animation"
                  data-appear-animation="fadeIn"
                  data-appear-animation-delay="500"
                >
                  <img
                    src="{% static 'img/lazy.png' %}"
                    data-plugin-lazyload
                    data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                    data-original="{% static 'img/landing/porto_dots.png' %}"
                    width="154"
                    height="146"
                    class="position-absolute top-auto d-none d-lg-block"
                    alt="6 reasons"
                    data-plugin-float-element
                    data-plugin-options="{'startPos': 'none', 'speed': 3, 'transition': true}"
                    style="bottom: 204px; left: 70px"
                  />
                </div>
                <div class="text-reasons ps-4 ps-sm-0">
                  <label
                    class="text-color-light appear-animation z-index-1"
                    data-appear-animation="blurIn"
                    data-appear-animation-delay="250"
                    data-appear-animation-duration="750"
                    >6</label
                  >
                  <h3
                    class="text-color-light text-4 text-sm-6 text-md-9 text-lg-5 text-xl-7 px-5 py-sm-3 mt-0 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="450"
                    data-appear-animation-duration="750"
                  >
                    Reasons
                  </h3>
                  <h3
                    class="text-color-light text-4 text-sm-6 text-md-9 text-lg-5 text-xl-7 mt-0 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="750"
                    data-appear-animation-duration="750"
                  >
                    Why you should choose
                  </h3>
                  <h3
                    class="text-color-light text-4 text-sm-6 text-md-9 text-lg-5 text-xl-8 py-sm-3 px-sm-5 px-lg-4 mt-0 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="950"
                    data-appear-animation-duration="750"
                  >
                    <span
                      class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-light highlighted-word-animation-1-2 alternative-font-4 font-weight-extra-bold"
                      >VDTK</span
                    >
                  </h3>
                </div>
              </div>
              <div class="col-10 col-sm-12 col-lg-5 col-xl-4 ps-lg-4 ps-xl-5">
                <h2
                  class="text-color-light text-7 font-weight-semibold line-height-2 mb-2 appear-animation"
                  data-appear-animation="fadeInRightShorter"
                  data-appear-animation-delay="1150"
                  data-appear-animation-duration="750"
                >
                  Web3 project with Frugal Innovation.
                </h2>
                <p
                  class="custom-text-color-2 line-height-5 appear-animation"
                  data-appear-animation="fadeInRightShorter"
                  data-appear-animation-delay="1350"
                  data-appear-animation-duration="750"
                >
                  We have selected the 6 top reasons to choose Porto Admin.
                  Check below:
                </p>
              </div>
            </div>
            <div class="row justify-content-center mb-4 pt-lg-4">
              <div class="col-lg-11">
                <div class="row justify-content-center">
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="600"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason1.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >1</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >Proof Of Reserve</small
                        >Smart Contract
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                     Proof of Reserve of all assets. VDTK mint, store, ... for users, cinephiles and Vid30.
                    </p>
                  </div>
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="800"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason2.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >2</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >GREEN</small
                        >More than reuse or recycling
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                      By using user's device for an another function without stopping or reducing the first one. Peer2peer to avoid Data Center.
                    </p>
                  </div>
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="1000"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason3.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >3</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >DePIN</small
                        > Storing DVDs and VHS
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                      Decentralized Physical Infrastructure Networks. A warehouse to store DVDs and VHS.
                    </p>
                  </div>
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="300"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason4.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >4</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >Social Impact</small
                        >Passive income
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                      VDTK will bring passive income and more. Storage and computer providers will be done by people in need. Storage also.
                    </p>
                  </div>
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="500"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason5.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >5</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >WORKS PERFECTLY WITH</small
                        >All blockchain
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                       Starknet, Chiliz, Chainlink, EVM, Solidity, Samsung Network, Free internet provider, Django, Next, ... .
                    </p>
                  </div>
                  <div
                    class="col-10 col-sm-6 col-lg-4 image-box appear-animation"
                    data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="700"
                    data-appear-animation-duration="750"
                  >
                    <img
                      class="img-fluid mb-2"
                      alt="Speed Performance"
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/reason6.png' %}"
                    />
                    <div class="d-flex align-items-center mb-2">
                      <span
                        class="text-color-dark font-weight-extra-bold text-12 me-2 line-height-1"
                        >6</span
                      >
                      <h4
                        class="d-flex flex-column font-weight-bold text-color-light text-5 mt-0 mb-0"
                      >
                        <small
                          class="font-weight-semibold positive-ls-2 line-height-1"
                          >Artificial Intelligence</small
                        >Web3 + AI.
                      </h4>
                    </div>
                    <p class="pe-5 custom-text-color-2">
                      Create NFT and Real world asset with AI and monetize it with web3.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <a
                href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472"
                class="btn btn-dark btn-rounded btn-modern btn-px-5 text-3 appear-animation"
                data-appear-animation="fadeIn"
                data-appear-animation-delay="300"
                target="_blank"
                >BUY PORTO ADMIN NOW!</a
              >
            </div>
          </div>
        </section>
        <!-- End 6 Reasons -->

        {% comment %}
        <section
          class="section section-no-border section-angled bg-color-light-scale-1 border-top-0 m-0"
        >
          <div
            class="section-angled-layer-top section-angled-layer-increase-angle"
            style="padding: 3.7rem 0; background-color: #0169fe"
          ></div>
          <div class="container py-5 my-5">
            <div class="row align-items-center text-center my-5">
              <div class="col-md-6">
                <h2
                  class="text-color-dark font-weight-bold text-9 mb-0 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="200"
                  data-appear-animation-duration="750"
                >
                  Introducing Porto Front End
                </h2>
                <p
                  class="font-weight-semibold text-primary text-4 fonts-weight-semibold positive-ls-2 mb-3 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="600"
                  data-appear-animation-duration="750"
                >
                  FRONT-END WITH SAME LOOK'N FEEL AS THE BACK-END
                </p>
                <p
                  class="font-weight-500 pb-2 mb-4 appear-animation"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="800"
                  data-appear-animation-duration="750"
                >
                  Porto Admin integration give you a package of new features to
                  add in the front-end template, such as advanced tables,
                  advanced forms, etc... Also allows you to create the back-end
                  of your site using the same design.
                </p>
                <a
                  href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472"
                  class="btn btn-modern btn-gradient btn-rounded btn-px-5 py-3 text-3 mb-4 appear-animation"
                  target="_blank"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="1000"
                  data-appear-animation-duration="750"
                  target="_blank"
                  >VIEW PORTO FRONT-END</a
                >
                <p
                  class="appear-animation text-4"
                  data-appear-animation="fadeInUpShorter"
                  data-appear-animation-delay="1200"
                >
                  * Porto Front-End
                  <strong class="text-dark">is not included</strong> in the
                  admin and is available for $16.
                </p>
              </div>
              <div class="col-md-6 py-5">
                <div
                  class="appear-animation"
                  data-appear-animation="fadeIn"
                  data-appear-animation-delay="500"
                >
                  <img
                    class="porto-lz"
                    src="{% static 'img/lazy.png' %}"
                    data-plugin-lazyload
                    data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                    data-original="{% static 'img/landing/porto_dots2.png' %}"
                    alt=""
                    width="149"
                    height="142"
                    style="position: absolute; top: -60px; right: -8%"
                  />
                </div>
                <div
                  class="appear-animation"
                  data-appear-animation="fadeInLeftShorter"
                  data-appear-animation-delay="0"
                  data-appear-animation-duration="750"
                >
                  <div class="strong-shadow rounded strong-shadow-top-right">
                    <img
                      src="{% static 'img/lazy.png' %}"
                      data-plugin-lazyload
                      data-plugin-options="{'threshold': 500, 'effect':'fadeIn'}"
                      data-original="{% static 'img/landing/porto_front_end.jpg' %}"
                      class="img-fluid border border-width-10 border-color-light rounded box-shadow-3"
                      alt="Porto Admin"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endcomment %}
