{% load static %}

        <section
          class="section section-dark section-angled border-0 pb-0 m-0"
          style="background-size: 100%; background-position: top"
          data-plugin-lazyload
          data-plugin-options="{'threshold': 500}"
          data-original="{% static 'img/landing/build_bg.jpg' %}"
        >
          <div
            class="section-angled-layer-top section-angled-layer-increase-angle bg-color-dark-scale-5"
            style="padding: 3rem 0"
          ></div>
          <div class="container text-center py-5 mt-5 mb-4">
            <h2
              class="text-color-light font-weight-bold line-height-3 text-12 mt-5 mb-3 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="250"
              data-appear-animation-duration="750"
            >
              Build your project with Porto Admin
            </h2>
            <h4
              class="text-color-light font-weight-bold text-10 line-height-2 mb-4 pb-2 appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="500"
              data-appear-animation-duration="750"
            >
              Purchase now. Only
              <span
                class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-no-rotate highlighted-word-animation-1 highlighted-word-animation-1-light alternative-font-4 font-weight-bold text-3 light appear-animation"
                data-appear-animation="blurIn"
                data-appear-animation-delay="800"
                data-appear-animation-duration="750"
                >$16!</span
              >
            </h4>
            <div
              class="appear-animation"
              data-appear-animation="fadeInUpShorter"
              data-appear-animation-delay="900"
              data-appear-animation-duration="750"
            >
              <h4
                class="font-weight-light text-color-light text-4 col-lg-6 px-0 offset-lg-3 fw-400 mb-5 opacity-8"
              >
                Porto Admin has been available on ThemeForest since 2014 and is
                one of the top sellers with more than 9K+ sales.
              </h4>
            </div>
            <div class="col-12 px-0 pb-2 mb-4">
              <div class="row flex-column flex-lg-row justify-content-center">
                <div class="col-auto">
                  <h5
                    class="font-weight-semibold text-color-light text-4 positive-ls-2 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="1100"
                    data-appear-animation-duration="750"
                  >
                    <i class="fa fa-check"></i> SUPER HIGH PERFORMANCE
                  </h5>
                </div>
                <div class="col-auto mx-5 my-2 my-lg-0">
                  <h5
                    class="font-weight-semibold text-color-light text-4 positive-ls-2 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="1400"
                    data-appear-animation-duration="750"
                  >
                    <i class="fa fa-check"></i> STRICT CODING STANDARDS
                  </h5>
                </div>
                <div class="col-auto">
                  <h5
                    class="font-weight-semibold text-color-light text-4 positive-ls-2 appear-animation"
                    data-appear-animation="fadeInRightShorter"
                    data-appear-animation-delay="1600"
                    data-appear-animation-duration="750"
                  >
                    <i class="fa fa-check"></i> FREE LIFETIME UPDATES
                  </h5>
                </div>
              </div>
            </div>
            <a
              href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472"
              class="btn btn-dark btn-modern btn-rounded px-5 btn-py-3 text-4 appear-animation"
              data-appear-animation="fadeIn"
              data-appear-animation-delay="1800"
              data-appear-animation-duration="750"
              target="_blank"
              >BUY PORTO ADMIN NOW</a
            >
          </div>
          <div
            class="row border border-start-0 border-bottom-0 border-end-0 border-color-light-2"
          >
            <div
              class="col-sm-4 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4"
            >
              <a
                href="http://www.okler.net/open-a-ticket/"
                class="text-decoration-none"
                target="_blank"
              >
                <div class="icon-box">
                  <i class="icon-bg icon-menu-2"></i>
                  <h4
                    class="font-weight-500 text-color-light line-height-1 text-4 mt-0 mb-2"
                  >
                    Support Center
                  </h4>
                </div>
              </a>
            </div>
            <div
              class="col-sm-4 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4"
            >
              <a
                href="http://www.okler.net/"
                class="text-decoration-none"
                target="_blank"
              >
                <div class="icon-box">
                  <i class="icon-bg icon-menu-3"></i>
                  <h4
                    class="font-weight-500 text-color-light line-height-1 text-4 mt-0 mb-2"
                  >
                    Online Documentation
                  </h4>
                </div>
              </a>
            </div>
            <div
              class="col-sm-4 text-center divider-left-border border-color-light-2 d-flex align-items-center justify-content-center py-4 opacity-5"
            >
              <a
                href="http://www.okler.net/"
                class="text-decoration-none"
                target="_blank"
              >
                <div class="icon-box">
                  <i class="icon-bg icon-menu-4"></i>
                  <h4
                    class="font-weight-500 text-color-light line-height-1 text-4 mt-0 mb-2"
                  >
                    Video Tutorials<br /><span class="text-2 d-block pt-1"
                      >(coming soon)</span
                    >
                  </h4>
                </div>
              </a>
            </div>
          </div>
        </section>

  
    