{% extends "Landing/landingbase.html" %}

{% load static %}

{% block title %}Accueil{% endblock %}

      {% block content %}

      <div role="main" class="main">
         {% include 'Landing/partials/hero.html' %}
          {% include 'Landing/partials/about.html' %}
          <!-- Beggin 6 Reasons -->
          {% include 'Landing/partials/services.html' %}
          <!-- End 6 Reasons -->
          {% include 'Landing/partials/moviesNFTs.html' %}
          <!-- Beggin 20 Prebuilt -->
         <!-- {% include 'Landing/partials/supports.html' %} -->

        <!-- End 20 Prebuilt -->
           {% include 'Landing/partials/partners.html' %}

      </div>

      {% endblock %}

    